
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
    color: #0f0f0f;
}

li {
    margin-bottom: 1rem;
}

.data {
    color: #f7f2f2;
}

body {
  background: #fcfcfd;
  font-size: 14px;
  line-height: 22px;
  color: #555555;
}

.bold {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
}

.semi-bold {
  font-weight: 500;
  font-size: 16px;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 800px;
    margin: 50px auto;
}

.resume {
  width: 800px;
  height: auto;
  display: flex;
  margin: 5px auto;
}

footer {
  width: 800px;
  height: 50px;
  display: flex;
  background-color: rgb(210, 221, 221);
  color: white;
  margin: 5px auto;
  padding-left: 25px;
}

.resume .resume_left {
  width: 280px;
  background: #626566;
}

.resume .resume_left .resume_profile {
  width: 100%;
  height: 280px;
}

.resume .resume_left .resume_profile img {
  width: 100%;
  height: 100%;
}

.resume .resume_left .resume_content {
  padding: 0 25px;
}

.resume .title {
  margin-bottom: 20px;
}

.resume .resume_left .bold {
  color: #fff;
}

.resume .resume_item {
  padding: 25px 0;
  border-bottom: 2px solid #020202;
}

.resume .resume_left .resume_skills ul li {
  display: flex;
  margin-bottom: 10px;
  color: #f7f0f0;
  justify-content: space-between;
  align-items: center;
}

.resume .resume_left .resume_skills ul li .skill_name {
  width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress {
  width: 60%;
  margin: 0 5px;
  height: 5px;
  background: #080808;
  position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per {
  width: 20%;
}

.resume .resume_left .resume_skills ul li .skill_progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #fff;
}

.resume .resume_left .resume_social .semi-bold {
  color: #fff;
  margin-bottom: 3px;
}

.resume .resume_right {
  width: 520px;
  background: #fff;
  padding: 25px;
}

.resume .resume_right .bold {
  color: #050505;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul {
  padding-left: 40px;
  overflow: hidden;
}

footer a {
    color: rgb(5, 4, 4);
    width: 50px;
    margin: 10px;
}
footer p {
    font-size: 14px;
    width: 50px;
    margin: 10px;  
    color: #020202; 
}
footer a img { 
    display: flex;
    width: 40px;
    height: 100%;
    color: white;
}







